.Contact {
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  margin-top:5px;
  margin-bottom:15px;
  padding: 10px;
}

.Contact:hover {
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.5), 0 2px 2px 0 rgba(0,0,0,.54), 0 1px 5px 0 rgba(0,0,0,.52);
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.5), 0 2px 2px 0 rgba(0,0,0,.54), 0 1px 5px 0 rgba(0,0,0,.52);
  cursor: pointer;
}

.Contact-Title {
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: .0125em;
  line-height: 2rem;
}

.Contact-Sub {
  font-size: .875rem;
  line-height: 1.375rem;
  font-weight: 500;
  letter-spacing: .00714em;
  color: darkslategray;
}
